@model DigitalContractModel
@{
    ViewData["Title"] = "Details";
}

<div class="text-center">
    <h1 class="display-4">@Html.DisplayFor(name => name.FirstName)'s details</h1>
    <table class="table">
        <tr>
            <th>ID</th>
            <td>@Html.DisplayFor(item => item.Id)</td>
        </tr>
        <tr>
            <th>First Name</th>
            <td>@Html.DisplayFor(name => name.FirstName)</td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>@Html.DisplayFor(name => name.LastName)</td>
        </tr>
        <tr>
            <th>Age</th>
            <td>@Html.DisplayFor(item => item.Age)</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>@Html.DisplayFor(item => item.Email)</td>
        </tr>
        <tr>
            <th>Online Signature</th>
            <td>@Html.DisplayFor(item => item.OnlineSignature)</td>
        </tr>
    </table>
    @Html.ActionLink("Back", "Download")
</div>
